{% load staticfiles %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">

	<style>
	table, td  {
	  border: 1px solid grey;
	  border-collapse: collapse;
	  padding: 5px;
	}

	.mycell {
	    width: 80px;
	}
	</style>

        <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
    </head>
    

   <body>
{%verbatim%}
        <div ng-app="myApp" ng-controller="myCtrl">
            
            <p>The name is <span ng-bind="firstName + ' ' + lastName"></span></p>
            
            {{ firstName + " " + lastName }}
            
            <br>
            <div w3-test-directive></div>
            <br>

            <p>Row Status : {{rowstatuscode}}</p>
            <p>Status : {{statuscode}}</p>
            <p> {{ tableData[0].roomId }}</p>
            <p> {{ tableData | filter:{roomId:"iyu1"} }}</p>
            <p> {{ (tableData | filter:{roomId:"iyu1"})[0]['roomId'] }}</p>

	<!-- http://aboooks.tistory.com/295 : html input property -->
            <h1>JADONSA MANAGE</h1>
            <br>

                <form method=post action="http://222.106.250.113:8000/setJadonsa/?format=json">
		<table>
                        <tr>
                            <td>NO</td>
                            <td>전일 재고</td>
                            <td>전입</td>
                            <td>전출</td>
                            <td>판매</td>
                            <td>도폐사</td>
                            <td>생일</td>
                            <td>금일재고</td>
                            <td>비고</td>
                        </tr>

		  <tr ng-repeat="x in tableData">

			<td style="{{ x.style }}">
				{{ x.roomId.type1 + " : " + x.roomId.type2 }}
			</td>
			<td style="{{ x.style }}">
				{{ x.pastCount }}
			</td>
			<td style="{{ x.style }}">
				<input type="number" value="{{ x.junip }}" class="mycell" name="{{x.roodId.id}}_junip">
			</td>
			<td style="{{ x.style }}">
				<input type="number" value="{{ x.junchul }}" class="mycell" name="{{x.roodId.id}}_junchul">
			</td>
			<td style="{{ x.style }}">
				<input type="number" value="{{ x.panmea }}" class="mycell" name="{{x.roodId.id}}_panmea">
			</td>
			<td style="{{ x.style }}">
				<input type="number" value="{{ x.dopeasa }}" class="mycell" name="{{x.roodId.id}}_dopeasa">
			</td>
			<td style="{{ x.style }}">
				<input type="date" value="{{ x.birth }}" class="mycell" name="{{x.roodId.id}}_birth">
			</td>
			<td style="{{ x.style }}">
				<input type="number" value="{{ x.currentCount }}" class="mycell" name="{{x.roodId.id}}_currentCount">
			</td>
			<td style="{{ x.style }}">
				<input type="text" value="{{ x.description }}" name="{{x.roodId.id}}_description">
			</td>

		  </tr>
		</table>

                <input type="submit" name="Submit"/>
                </form>


        </div>
{%endverbatim%}


        <script>
        var app = angular.module("myApp", []);

        app.controller("myCtrl", function($scope, $http) {
            $scope.firstName = "John";
            $scope.lastName = "Doe";

            $http.get("http://222.106.250.113:8000/getRoomId/?format=json")
            .then(function (response) {
                console.log(response);
                $scope.tableRowData = response.data;
                $scope.rowstatuscode = response.status;

                tmpRows = response.data;
                rowNames = {};
                for(var jj in tmpRows) {
                    tmp = tmpRows[jj];
                    tmp['idx'] = jj;
                    rowNames[tmp.id] = tmp;
                }

                $http.get("http://222.106.250.113:8000/getJadonsa/?format=json")
                .then(function (response) {

                    dd = response.data;
                    d = [];
                    for(var ii in dd) {
                        tmp = dd[ii]
                        tmp['idx']    = rowNames[tmp.roomId].idx;
                        tmp['roomId'] = rowNames[tmp.roomId];
                        d.push(tmp);

                        console.log(tmp);
                    }

                    d.sort(function(a, b) {return a.idx - b.idx;});
                    console.log(d);

                    for(var ii in d) {
                        if(ii % 2 == 0) {
                            d[ii].style = "background-color:#f1f1f1";
                        } else {
                            d[ii].style = "";
                        }
                    }

                    $scope.tableData = d;
                    $scope.statuscode = response.status;
                });

            });
        
        });
            
        app.directive("w3TestDirective", function() {
            return {
                template : "I was made in a directive constructor!"
            };
        });
            
        </script>
       
    </body>
</html>

